# Data exploration

In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Load data

In [44]:
df = pd.read_csv("data/immoweb_scrapped.csv")

In [45]:
# info dataframe (number data, title column, feature type, number data per column)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10006 entries, 0 to 10005
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   10006 non-null  int64
 1   locality             10006 non-null  int64
 2   type_of_property     10006 non-null  object
 3   subtype_of_property  10006 non-null  object
 4   price                9054 non-null   float64
 5   type_of_sale         10006 non-null  object
 6   nr_of_rooms          9119 non-null   float64
 7   area                 8817 non-null   float64
 8   equiped_kitchen      7819 non-null   object
 9   furnished            5535 non-null   object
 10  open_fire            10006 non-null  bool
 11  terrace              6421 non-null   object
 12  terrace_area         4373 non-null   float64
 13  garden               3029 non-null   object
 14  garden_area          2097 non-null   float64
 15  total_land_area      4576 non-null   float64
 16  nr_of_facades        7024 non-null   float64
 17  swimming_pool        4248 non-null   object
 18  building_condition   7924 non-null   object
dtypes: bool(1), float64(7), int64(2), object(9)
memory usage: 1.4+ MB

column 'id', 'type_of_sale' are remove
type_of_sale contains the unique value "FOR SALE"

In [46]:
# drop id column
df = df.drop(['id'], axis=1)
# drop type_of_sale column
df = df.drop(['type_of_sale'], axis = 1)

In [47]:
# count number of missing values 
df.count()

locality               10006
type_of_property       10006
subtype_of_property    10006
price                   9054
nr_of_rooms             9119
area                    8817
equiped_kitchen         7819
furnished               5535
open_fire              10006
terrace                 6421
terrace_area            4373
garden                  3029
garden_area             2097
total_land_area         4576
nr_of_facades           7024
swimming_pool           4248
building_condition      7924
dtype: int64

In [49]:
# create a list with column names
column_list = df.columns.tolist()

In [53]:
# count in all columns number of rows with each unique value of variable
for column_name in column_list : 
    print('##############', column_name, '##############')
    print(df[column_name].value_counts())
    print('#############################################')

############## locality ##############
8300    549
1180    418
1000    356
1050    284
8400    184
       ...
5544      1
8810      1
6821      1
4651      1
6687      1
Name: locality, Length: 811, dtype: int64
#############################################
############## type_of_property ##############
HOUSE              4576
APARTMENT          4543
APARTMENT_GROUP     751
HOUSE_GROUP         136
Name: type_of_property, dtype: int64
#############################################
############## subtype_of_property ##############
APARTMENT               3444
HOUSE                   3046
APARTMENT_GROUP          751
VILLA                    689
DUPLEX                   299
PENTHOUSE                297
FLAT_STUDIO              186
GROUND_FLOOR             185
APARTMENT_BLOCK          177
MIXED_USE_BUILDING       176
EXCEPTIONAL_PROPERTY     144
HOUSE_GROUP              136
MANSION                  110
TOWN_HOUSE                85
LOFT                      63
BUNGALOW                  49
COUNTRY_COTTAGE           42
SERVICE_FLAT              35
TRIPLEX                   29
FARMHOUSE                 18
OTHER_PROPERTY            14
MANOR_HOUSE               13
CHALET                     8
KOT                        5
CASTLE                     5
Name: subtype_of_property, dtype: int64
#############################################
############## price ##############
249000.0     131
295000.0     110
299000.0     107
199000.0     103
325000.0     100
            ...
326000.0       1
1405000.0      1
221500.0       1
496000.0       1
1.0            1
Name: price, Length: 1151, dtype: int64
#############################################
############## nr_of_rooms ##############
3.0     2882
2.0     2712
4.0     1414
1.0      840
5.0      606
6.0      265
0.0      175
7.0      102
8.0       53
9.0       24
10.0      14
11.0       6
12.0       6
15.0       5
13.0       3
20.0       3
14.0       2
41.0       2
22.0       1
16.0       1
30.0       1
18.0       1
23.0       1
Name: nr_of_rooms, dtype: int64
#############################################
############## area ##############
100.0    188
120.0    172
90.0     169
110.0    157
85.0     141
        ...
482.0      1
614.0      1
655.0      1
467.0      1
349.0      1
Name: area, Length: 548, dtype: int64
#############################################
############## equiped_kitchen ##############
INSTALLED             3393
HYPER_EQUIPPED        1882
SEMI_EQUIPPED          987
USA_HYPER_EQUIPPED     840
NOT_INSTALLED          423
USA_INSTALLED          208
USA_SEMI_EQUIPPED       76
USA_UNINSTALLED         10
Name: equiped_kitchen, dtype: int64
#############################################
############## furnished ##############
False    5134
True      401
Name: furnished, dtype: int64
#############################################
############## open_fire ##############
False    9384
True      622
Name: open_fire, dtype: int64
#############################################
############## terrace ##############
True    6421
Name: terrace, dtype: int64
#############################################
############## terrace_area ##############
20.0     268
10.0     231
15.0     217
30.0     196
8.0      183
        ...
112.0      1
128.0      1
124.0      1
84.0       1
188.0      1
Name: terrace_area, Length: 151, dtype: int64
#############################################
############## garden ##############
True    3029
Name: garden, dtype: int64
#############################################
############## garden_area ##############
100.0     60
200.0     52
400.0     47
50.0      41
250.0     40
          ..
193.0      1
99.0       1
1104.0     1
1282.0     1
711.0      1
Name: garden_area, Length: 608, dtype: int64
#############################################
############## total_land_area ##############
0.0        207
150.0       41
120.0       38
1000.0      37
100.0       35
          ...
901.0        1
13964.0      1
3039.0       1
8600.0       1
7750.0       1
Name: total_land_area, Length: 1564, dtype: int64
#############################################
############## nr_of_facades ##############
2.0     3453
4.0     1929
3.0     1588
1.0       53
10.0       1
Name: nr_of_facades, dtype: int64
#############################################
############## swimming_pool ##############
False    3935
True      313
Name: swimming_pool, dtype: int64
#############################################
############## building_condition ##############
AS_NEW            3164
GOOD              2866
TO_BE_DONE_UP      691
TO_RENOVATE        605
JUST_RENOVATED     563
TO_RESTORE          35
Name: building_condition, dtype: int64
#############################################

In [ ]:
continous variables : price, nr_of_rooms, area, terrace_area, total_land_area, nr_of_facades
categorical variable : locality, type_of_property, equiped_kitchen
boolean variable : furnished, open_fire, terrace, swimming_pool